Diagnostics:
  ClangTidy:
    Add:
      - 'bugprone-*'
      - 'concurrency-*'
      - 'cppcoreguidelines-*'
      - 'misc-*'
      - 'modernize-*'
      - 'performance-*'
      - 'portability-*'
      - 'readability-*'
    Remove:
      - 'modernize-use-trailing-return-type'