[submodule "extern/ftxui"]
	path = extern/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "extern/gtest"]
	path = extern/gtest
	url = https://github.com/google/googletest.git
[submodule "extern/pegtl"]
	path = extern/pegtl
	url = https://github.com/taocpp/PEGTL.git
